<div class="footer-container">			
	<footer class="details">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-md-offset-0 col-sm-offset-2 col-xs-12"> 
					<!-- <img alt="logo" class="logo" src="landing/img/logo-dark.png"> -->
					<h4 style="font-family: 'Quicksand';">ABOUT</h4>
					<ul style="list-style-type: none;font-family: 'Montserrat'; line-height: 220%; padding-top: -1em;">
						<li>About Us</li>
						<li>FAQ</li>
						<li>Terms and Conditions</a></li>
						<li>Privacy Policy</a></li>
						<li>Contact Us</a></li> 
					</ul>
				</div>

			</div>
		</div>
	</footer>
</div>
