<nav class="navbar navbar-default navbar-static-top">
	<ul class="nav navbar-nav">
		<li><%= link_to "home", root_path %></li>
		<li><%= link_to "path to foo controller", foos_path %></li>
		<li><%= link_to "path to bar controller", bars_path %></li>
	</ul>
</nav>

